/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Inter:wght@400;600&display=swap');

/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --purple: #918be4;
  --line: #ebe0df;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  color: var(--darkgray);
  background-color: #fdfcfc;
  max-width: 65%;
  color: #383838;
}


button, textarea, input, body, nav a, nav span{
  font-family: 'Inter', -apple-system, system-ui, sans-serif;
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li {
  line-height: 1.45;
}

p{
  color: #555555;
  font-size: 1rem;
  line-height: 1.8rem;
}

a{
  text-decoration: none;
  color: #383838;
}

.page-subtitle{
  font-size: 0.9rem;
  color: #afa29b;
}

h1, h2, h3{
  font-weight: 300;
}

a, h1, h2, h3, .tmpl-post .image-src, header, .logo, .postlist-link, .thank-you-note, .desc-title {
  font-family: 'Lora', serif;
}

h1{
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 300;
  margin: 35px 0;
}

h2{
  font-size: 1.4rem;
  margin-top: 35px;
}

.tmpl-post p{
  margin: 30px 0;
}

.tmpl-post img{
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 70px auto 0;
}

.tmpl-post .image-src{
  margin: -10px auto 70px;
  display: block;
  text-align: center;
  font-size: 1rem;
}

/* Button */
button{
  padding: 12px 25px;
  background-color: #2b2b2b;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 400;
  font-size: 0.78rem;
  transition: background-color 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
}

button img{
  margin-right: 15px;
  width: 12px;
  transition: opacity 0.2s;
  margin-bottom: 1px;
  filter: brightness(10);
}

button:hover{
  background-color: #3b3b3b;
}

.button-margin{
  margin-top: 70px;
}


/* Header */
header {
  border-bottom: 1px solid var(--line);
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

nav, .top-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav{
  margin-top: 90px;
  height: 50px;
}

ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

ul li{
  margin: 0 0 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: opacity 0.2s;
}

ul{
  height: 100%;
}

ul li:hover{
  opacity: 0.7;
}

header a, header span{
  font-size: 0.9rem;
}

.logo{
  font-size: 0.95rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img{
  width: 15px;
  height: 15px;
}

.author a:first-of-type{
  margin: 0 8px 0 15px;
}

.author a img{
  filter: brightness(0.1);
  opacity: 0.8;
  transition: filter 0.2s, opacity 0.2s;
  width: 12px;
}

.author a:hover img{
  filter: brightness(1);
  opacity: 1;
}

.logo img{
  margin-right: 15px;
}

.author{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author__avatar{
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background-color: #333;
  margin-right: 15px;
  background-image: url("/img/images/avatar.jpg");
  background-position: center;
  background-size: cover;
}

/* Footer */
footer{
  margin: 120px 0 80px 0;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

footer span:first-of-type{
  text-transform: uppercase;
  color: #9D8F8F;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.purple-link{
  color: #8f8ada;
  border-bottom: 1px solid var(--purple);
  transition: opacity 0.2s;
}

.purple-link:hover{
  opacity: 0.7;
}

/* Prism syntax */
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}

/* Nav */
.nav-item-active {
  position: relative;
}

.nav-item-active a{
  color: var(--purple);
}

.nav-item-active::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--purple);
  transform: translateY(1px);
  position: absolute;
  bottom: 0;
}

/* Posts list */
.postlist-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  width: 100%;
}

.postlist-item:first-of-type{
  margin-top: 40px;
}

.postlist-link{
  font-size: 1.4rem;
  line-height: 1.8rem;
  transition: color 0.2s;
  font-weight: 300;
}

.postlist-link:hover{
  color: var(--purple);
}

.postlist-item p{
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 20px 0;
  width: 100%;
}

.postlist-item .post-info a, time{
  font-size: 0.81rem;
}

.postlist-item time{
  color: #9D8F8F;
}

.postlist-item .post-info{
  padding-top: 15px;
  border-top: 1px solid var(--line);
  width: 100%;
}

/* Tags */
.tag-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-list .post-tag{
  margin: 0 15px 10px 0;
}

.post-tag {
  text-transform: capitalize;
  margin-left: 15px;
  padding: 5px 10px;
  border: 1px solid var(--line);
  border-radius: 3px;
  font-family: 'Inter', sans-serif;
  transition: color 0.2s, border-color 0.2s;
  color: #9D8F8F;
  font-size: 0.82rem;
}

time{
  color: #9D8F8F;
}

.post-tag::before{
  content: '#';
  margin-right: 7px;
  color: #867a71;
  transition: color 0.2s;
}

.post-tag:hover{
  border-color: #c1bbd6;
  color: var(--purple);
}

.post-tag:hover::before{
  color: var(--purple);
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

.direct-link{
  position: relative;
  color: transparent;
  padding: 5px;
}

.direct-link::after{
  content: "";
  width: 17px;
  height: 17px;
  background-image: url('/img/icons/clip.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s;
  margin: 2px 0 0 3px;
}

.direct-link:hover::after{
  opacity: 0.7;
}

.thank-you-note{
  font-size: 1.03rem!important;
}

.heading-no-margin{
  margin: 50px 0 0 0;
}

.p-margin-bottom{
  margin: 20px 0 50px 0;
}

form{
  width: 400px;
  height: auto;
  padding: 25px;
  background-color: #ffffff86;
  border-radius: 3px;
  border: 1px solid var(--line);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input, textarea{
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid var(--line);
  font-size: 0.9rem;
  transition: border-color 0.3s;
  color: #8a8a8a;
}

input{
  width: 100%;
  box-sizing: border-box;
}
textarea{
  resize: none;
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  line-height: 1.6rem;
}
input:focus, textarea:focus{
  border-color: var(--purple);
  outline: none;
  color: var(--purple);
  background-color: #fdfdff;
}
input::placeholder, textarea::placeholder{
  color: #bebebe;
  transition: color 0.2s;
}

input:focus::placeholder, textarea:focus::placeholder{
  color: #c7c4e6;
}

form span{
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--line);
  color: #777777;
}
label{
  font-size: 0.85rem;
  margin-bottom: 10px;
  color: #303030;
}


@media (max-width: 1300px) {
  html, body{
    max-width: 80%;
  }
}

@media (max-width: 900px) {
  html, body{
    max-width: 92%;
  }

  nav{
    align-items: flex-start;
    margin-top: 50px;
  }

  ul li{
    margin: 0 30px 0 0;
  }
  
  .author{
    display: none;
  }
}