---
permalink: /about/
layout: layouts/home.njk
eleventyNavigation:
  key: About Author
  order: 3
---
<h1>About the author.</h1>
<p>I was born in Krakow, Poland and came to The Netherlands last year. Usually I make software and tea but since last year I developed a lot of interest in writing. I'm no journalist but a girl can dream and she will because she watched 7 seasons of Gilmore Girls. I have no formal education because why?
<br><br>
I work mainly with Python, TypeScript, Linux (yes I use Arch) and Docker. My seven months interest in data science left me with amazing visualisation skills and passion for CSV sheets. Apparently I can also run simple ML models which is useful when I need to classify (something).
<br><br>
On this blog I write about stuff.</p>