---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<span class="page-subtitle">All articles</span>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
