---
permalink: /tags/
layout: layouts/home.njk
---
<span class="page-subtitle">Tag list</span>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
