---
layout: layouts/base.njk
templateClass: tmpl-post
---
<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}
<h1>{{ title }}</h1>

{{ content | safe }}

<p class="thank-you-note">Thank you for reading, <a href="https://www.buymeacoffee.com/haixei" target="_blank" class="purple-link">consider buying me a tea</a><br>if you enjoyed your time here.</p>
